.side_header
  .main_header__name
    田中
  .side_header__icon
    = link_to '#',class: "header__icon--kami" do
      = icon 'fas','edit'
      %span<>
    = link_to'#',class: "header__icon--haguruma" do
      = icon'fas','cog'
.side_contents
  .side_contents__group
    test1
    .side_contents__group--message
      まだメッセージはありません
    
  
    
      
  
      