.side
  .side-header
    .side-header__name
      田中
    .side-header__icon
      = link_to '#',class: "header__icon--kami" do
        = icon 'fas','edit',class: "icon-color"
        %span<>
      = link_to'#',class: "header__icon--haguruma" do
        = icon'fas','cog',class: "icon-color"
  .side-contents
    .side-contents__name
      test1
    .side-contents__message
      まだメッセージはありません
    
  
    
      
  
      