.header
  .header__name
    田中
  .header__icon
    = link_to '#',class: "header__icon--kami" do
      = icon 'fas','edit'
      %span<>
    = link_to'#',class: "header__icon--haguruma" do
      = icon'fas','cog'
.contents
  .contents__group
    test1
    .contents__group--message
      まだメッセージはありません
    
  
    
      
  
      